.customEnv
{
    margin-top: 70px;
    color: blue;
    
}

.msgPara{
    margin-left: 500px;
    font-size: 18px;
}

.keyOTP{

    border-bottom: 1px solid grey;
    margin-top: 17px;
}
.otpIp{
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    margin-top: 40px;
    padding: 7px;
    font-size: 18px;
    width: 25%;
    
}
.otpBtn
{
    margin-top: 55px;
    width: 25%;
    border-radius: 25px;
    padding: 5px;
    font-weight: 500;
}